* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f5f7fa;
  color: #333;
}

/* Navbar */
.navbar {
  background: #2874f0;
  color: white;
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-btn {
  background: white;
  color: #2874f0;
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.add-btn:hover {
  background: #e6ecff;
}

/* Cards */
.cards {
  display: flex;
  gap: 20px;
  padding: 30px;
}

.card {
  background: white;
  flex: 1;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-6px);
}

.card h3 {
  color: #555;
  margin-bottom: 10px;
}

.card p {
  font-size: 32px;
  font-weight: bold;
}

/* Card Variants */
.warning {
  border-left: 6px solid #ff4d4d;
}

.success {
  border-left: 6px solid #2ecc71;
}

/* Table */
.table-section {
  background: white;
  margin: 0 30px 30px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}

.table-section h2 {
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #f0f3f8;
}

th, td {
  padding: 14px;
  text-align: left;
}

tr:not(:last-child) {
  border-bottom: 1px solid #eee;
}

/* Status */
.status {
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}

.low {
  background: #ffe6e6;
  color: #ff4d4d;
}

.ok {
  background: #e6fff1;
  color: #2ecc71;
}
/* Add Product Form */
.form-container {
  background: white;
  max-width: 420px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 12px 25px rgba(0,0,0,0.1);
}

.form-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

label {
  font-weight: 600;
  margin-top: 15px;
  display: block;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

input:focus {
  outline: none;
  border-color: #2874f0;
}

button {
  width: 100%;
  margin-top: 25px;
  padding: 12px;
  background: #2874f0;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #1f5fd1;
}
/* Low Stock Alert Banner */
.alert-banner {
  margin: 20px 30px;
  padding: 15px 20px;
  background: #fff3cd;
  color: #856404;
  border-left: 6px solid #ff9800;
  border-radius: 8px;
  font-weight: 600;
}
/* Delete Button */
.delete-btn {
  color: white;
  background: #ff4d4d;
  padding: 6px 12px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
}

.delete-btn:hover {
  background: #e60000;
}
/* Search Box */
.search-box {
  width: 100%;
  padding: 12px;
  margin: 15px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}
